# Este archivo le dice al compilador de Angular qué navegadores debe soportar.
# Al incluir versiones antiguas de Chrome/Android, Angular compilará
# el código a una versión más antigua (ES2015) en lugar de ES2022.

> 0.5%
last 2 versions
Firefox ESR
not dead
Chrome >= 60
Android >= 8
