DB_URL=jdbc:postgresql://localhost:5432/lectoapp
DB_USERNAME=postgres
DB_PASSWORD=CAMBIAR

JWT_SECRET=GENERAR_UN_SECRETO_SEGURO
JWT_EXPIRATION=86400000

ADMIN_NOMBRE=Administrador
ADMIN_APELLIDO=Sistema
ADMIN_CORREO=admin@lectoapp.com
ADMIN_PASSWORD=CAMBIAR

JPA_SHOW_SQL=false
GEMINI_API_KEY=Crear